<script lang="ts">
	import { UserCircleSolid } from 'flowbite-svelte-icons';
	import Logout from 'svelte-material-icons/Logout.svelte';
	// Skeleton Features
	import {
		AppBar,
		AppShell,
		Drawer,
		LightSwitch,
		drawerStore,
		type DrawerSettings
	} from '@skeletonlabs/skeleton';
	// Local Features
	import Navigation from '$lib/components/Navigation.svelte';
	import NavigationBar from '$lib/components/NavigationBar.svelte';
	// Stylesheets
	import '@skeletonlabs/skeleton/styles/all.css';
	import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
	import '../../app.postcss';

	// Reactive Properties
	let isDrawerOpen = false;
	let isMobile = false;

	const drawerSettings: DrawerSettings = {
		id: 'example-3',
		bgBackdrop: 'bg-gradient-to-tr from-indigo-500/50 via-black-500/50 to-black-500/50',
		width: 'w-[140px] md:w-[140px]',
		padding: 'p-4',
		rounded: 'rounded-xl'
	};

	function drawerOpen(): void {
		drawerStore.open(drawerSettings);
	}

	function drawerClose(): void {
		drawerStore.close();
	}

	let menuVisible = false;

	function showMenu() {
		menuVisible = true;
	}

	function hideMenu() {
		menuVisible = false;
	}
</script>

<Drawer {isDrawerOpen}>
	<Navigation />
</Drawer>

<!-- App Shell -->
<AppShell slotSidebarLeft="bg-surface-100/5 {isDrawerOpen ? 'w-0' : isMobile ? 'w-0' : 'w-50'}">
	<svelte:fragment slot="header">
		<!-- App Bar -->
		<AppBar>
			<svelte:fragment slot="lead">
				<div class="flex items-center">
					{#if isMobile}
						<button class="btn btn-sm mr-4" on:click={isDrawerOpen ? drawerClose : drawerOpen}>
							<span>
								<svg viewBox="0 0 100 80" class="fill-token w-4 h-4">
									<rect width="100" height="20" />
									<rect y="30" width="100" height="20" />
									<rect y="60" width="100" height="20" />
								</svg>
							</span>
						</button>
					{/if}
					<a href="/">
						<strong class="text-xl uppercase flex items-center">
							<img
								src="favicon.png"
								alt="Logo"
								width="32"
								height="32"
								style="margin-right: 10px;"
							/>
							<span class="hidden lg:inline">IOT</span>
						</strong>
					</a>
				</div>
			</svelte:fragment>

			<svelte:fragment slot="trail">
				<div class="flex items-center justify-center">
					<LightSwitch />
				</div>

				<!-- Conditional link based on user authentication status -->
				{#if !isMobile}
					<div class="relative" on:mouseenter={showMenu} on:mouseleave={hideMenu}>
						<div class="flex items-center justify-center">
							<a class="btn btn-sm hover-bg-gray-700" href="/profile">
								<UserCircleSolid class="h-8 w-8 mr-4" />
							</a>
						</div>
						<div
							class={menuVisible
								? 'absolute top-full right-2 mb-2 space-y-2 block bg-white p-2 rounded shadow'
								: 'hidden'}
							on:mouseleave={hideMenu}
						>
							<a href="/profile" class="px-4 py-2 hover:bg-gray-200 text-black flex items-center">
								<UserCircleSolid class="h-8 w-8 mr-4 text-primary" />
								<!-- Change text-primary to the color you want for the icon -->
								<span>Profile</span>
							</a>
							<a href="/logout" class="px-4 py-2 hover:bg-gray-200 text-black flex items-center">
								<Logout class="h-8 w-8 mr-4 text-primary fill-current" />
								<!-- Change text-primary to the color you want for the icon -->
								<span>Logout</span>
							</a>
						</div>
					</div>
				{/if}
			</svelte:fragment>
		</AppBar>
	</svelte:fragment>

	<!-- Left Sidebar Slot -->
	<svelte:fragment slot="sidebarLeft">
		{#if !isMobile}
			<!-- Only display NavigationBar if not in mobile mode -->
			<NavigationBar />
		{/if}
	</svelte:fragment>
	<!-- Page Route Content -->

	<slot />
</AppShell>


