<div class="container p-10 space-y-4">
	<h1>profile</h1>
	<hr />
	<p>Every inner page includes the standard sidebar navigation on desktop, as well as the responsive drawer for mobile users.</p>
</div>