<script lang="ts">
import { Table } from '@skeletonlabs/skeleton';
import type { TableSource } from '@skeletonlabs/skeleton';
import { tableMapperValues } from '@skeletonlabs/skeleton';
  import type { PageData } from "./$types";

  export let data: PageData;
  $: data, console.log('data: ', JSON.stringify(data));

const tableSimple: TableSource = {
	// A list of heading labels.
	head: ['Username','First Name', 'Last Name', 'Email', 'Phone'],
	// The data visibly shown in your table body UI.
	body: tableMapperValues(data.body, ['username', 'firstname', 'lastname', 'email', 'phone']),
	// Optional: The data returned when interactive is enabled and a row is clicked.
	meta: tableMapperValues(data.body, ['username', 'firstname', 'lastname', 'email', 'phone']),
	// Optional: A list of footer labels.
	/* foot: ['Total', '', '<code class="code">5</code>'] */
};
				
				


</script>

<div class="flex justify-between">
  <h2 class="m-4">Users Management</h2>
  <a href="/" class="btn btn-sm variant-filled m-4 text-lg">Add User</a>
</div>

<Table class="ml-4 mr-4" source={tableSimple} />

