<script>
	import { Carousel } from 'flowbite-svelte';
	import { images } from '../image/imageData';
</script>

<div class="max-w-8xl space-y-4">
	<Carousel {images} duration={3900} let:Indicators>
		<a
			slot="slide"
			href="http://google.com/search?q={images[index]?.title}"
			target="_blank"
			let:Slide
			let:index
		>
			<Slide image={images[index]} />
		</a>
		<Indicators />
	</Carousel>
</div>
