<script lang="ts">
	import { drawerStore } from '@skeletonlabs/skeleton';
	import { page } from '$app/stores';
	import { AddressCardSolid, HomeSolid, InfoCircleSolid } from 'flowbite-svelte-icons';

	function drawerClose(): void {
		drawerStore.close();
	}

	// Function to determine if a link is active
	function isActive(link: string) {
		return $page.url.pathname === link;
	}
</script>

<nav class="list-nav p-4 custom-width max-w-2xl">
	<ul>
		<li>
			<div class="flex items-center justify-center">
				<strong class="text-xl uppercase flex items-center">
					<img src="favicon.png" alt="Logo" width="32" height="32" style="margin-right: 10px;" />
					<span class="lg:inline">IOT</span>
				</strong>
			</div>
		</li>

		<hr />
		<li class:active={$page.url.pathname === '/'}>
			<a class="btn btn-sm {isActive('/')}" href="/" on:click={drawerClose}>
				<div class="nav-item">
					<HomeSolid />
					<span class="nav-label">Dashboard</span>
				</div>
			</a>
		</li>
		<li class:active={$page.url.pathname === '/tenant'}>
			<a class="btn btn-sm {isActive('/tenant')}" href="/tenant" on:click={drawerClose}>
				<div class="nav-item">
					<InfoCircleSolid />
					<span class="nav-label">Tenant</span>
				</div>
			</a>
		</li>
		<li class:active={$page.url.pathname === '/device'}>
			<a class="btn btn-sm {isActive('/device')}" href="/device" on:click={drawerClose}>
				<div class="nav-item">
					<AddressCardSolid />
					<span class="nav-label">Device</span>
				</div>
			</a>
		</li>
		<li class:active={$page.url.pathname === '/history'}>
			<a class="btn btn-sm {isActive('/history')}" href="/history" on:click={drawerClose}>
				<div class="nav-item">
					<AddressCardSolid />
					<span class="nav-label">History</span>
				</div>
			</a>
		</li>
		<li class:active={$page.url.pathname === '/user'}>
			<a class="btn btn-sm {isActive('/user')}" href="/user" on:click={drawerClose}>
				<div class="nav-item">
					<AddressCardSolid />
					<span class="nav-label">User</span>
				</div>
			</a>
		</li>
	</ul>
</nav>

<style>
	/* Add your custom width for the navigation menu here */
	.custom-width {
		width: 140px;
	}

	.list-nav {
		padding: 0;
		list-style: none;
		margin-top: 20px; /* Add spacing at the top */
	}

	.list-nav a {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		margin-bottom: 20px; /* Adjust the margin for spacing */
		border-radius: 0px;
		transition: background-color 0.3s, color 0.3s;
	}

	.nav-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.nav-label {
		font-size: 14px;
		text-align: center;
	}

	/* Add hover effect */
	.list-nav a:hover {
		background-color: #007acc;
		color: #fff;
	}

	/* Style for active menu item */
	.list-nav .active a {
		background-color: #e5e5e5;
		color: #000;
	}


</style>
